dist/
frontend/app.bundle.js
frontend/engine/*-v2.js
legacy/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.env
.env.*
.DS_Store
.idea/
.vscode/
node_modules/
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.swo
*.bak
*.tmp
*.log
*.zip
*.tar.gz
*.egg-info/
build/              
add_keywords_en.py
add_keywords_tr.py
